<section class="min-h-screen">
  <div 
    class="min-h-[1000px] bg-no-repeat bg-cover bg-center bg-blend-multiply bg-slate-500"
    style="background-image: url('assets/images/487356093_1191780339618034_6096994124274989070_n.jpg');"
  >
    <div class="min-h-[1080px] py-32 text-slate-100 font-noto font-thin flex flex-col justify-between">
      <img class="mx-auto max-h-[600px]" src="assets\images\Black Begonia Logo.png" alt="">
      <div class="text-center space-y-4">
        <p class="text-5xl text-[#fdcbc7]">LUXURY FLORAL ARTISTRY</p>
        <p class="text-3xl">SERVICING NEWPORT & SOUTHERN RHODE ISLAND</p>
      </div>
    </div>
  </div>

  <div class="bg-slate-400 py-4">
    <p class="text-white text-lg text-center font-oswald font-thin">
      N A R R A G A N S E T T&nbsp;&nbsp;&nbsp;
      B A Y&nbsp;&nbsp;&nbsp;
      A R E A&nbsp;&nbsp;&nbsp;
      L U X U R Y&nbsp;&nbsp;&nbsp;
      W E D D I N G&nbsp;&nbsp;&nbsp;
      F L O R I S T&nbsp;&nbsp;&nbsp;
    </p>
  </div>

  <div class="min-h-[800px] bg-slate-200"></div>
  <div class="min-h-[800px] bg-slate-50"></div>
</section>
