<section class="min-h-screen">
  
  <!-- Hero Slide -->
  <div 
    class="min-h-full bg-no-repeat bg-cover bg-center bg-blend-multiply bg-gray-300/50"
    style="background-image: url('assets/images/website/1000005134.jpg');"
  >
    <div class="md:min-h-[800px] 2xl:min-h-[930px] py-8 px-4 md:py-16 text-slate-100 font-noto font-thin flex flex-col justify-between">
      <img class="mx-auto max-h-[300px] md:max-h-[500px] 2xl:max-h-[600px] opacity-0 animate-fadeDown" src="assets/images/website/Black Begonia Logo 4.png" alt="">
      <div class="text-center space-y-1 md:space-y-4 py-5 md:py-7">
        <p class="text-xl md:text-4xl 2xl:text-5xl text-[#fdcbc7] opacity-0 animate-fadeDown [animation-delay:300ms]">BOUTIQUE FLORAL ARTISTRY</p>
        <p class="text-lg md:text-xl 2xl:text-3xl opacity-0 animate-fadeDown [animation-delay:600ms]">SERVICING SOUTHERN RI, NEWPORT, AND BEYOND</p>
      </div>
    </div>
  </div>

  <div class="bg-[#ecb5b0] py-1 md:py-3 2xl:py-4">
    <p class="text-white text-sm md:text-base 2xl:text-lg text-center font-oswald font-thin">
      N A R R A G A N S E T T&nbsp;&nbsp;&nbsp;
      B A Y&nbsp;&nbsp;&nbsp;
      A R E A&nbsp;&nbsp;&nbsp;<br class="md:hidden">
      L U X U R Y&nbsp;&nbsp;&nbsp;
      W E D D I N G&nbsp;&nbsp;&nbsp;
      F L O R I S T&nbsp;&nbsp;&nbsp;
    </p>
  </div>

  <div class="hidden lg:block bg-[#fefcfa] font-cormorant font-thin text-gray-600 text-2xl text-center">
    <div class="mx-80 py-12">
      <p class="-translate-x-[400px]">WE SPECIALIZE IN CREATING ROMANTIC</p>
      <p style="font-size: 250px;" class="font-lavishly h-[130px] mt-16 text-[#ff8880]/20">garden-style,</p>
      <div class="-translate-x-[-200px]">
        <p>ARRANGEMENTS USING UNIQUE LUXURY BLOOMS FOR</p>
        <p>WEDDINGS + EVENTS THROUGHOUT SOUTHERN NEW ENGLAND</p>
        <button routerLink="/inquiries" class="mt-4 text-lg border border-white bg-gray-100 hover:border hover:border-gray-400 hover:bg-[#fefcfa] py-1 px-8">START THE PROCESS</button>
      </div>
    </div>
  </div>

  <div class="bg-[#ffffff] py-4 md:py-10 2xl:py-20 px-4 md:px-12 2xl:px-24">
    <div class="flex flex-col lg:flex-row justify-evenly text-gray-500">
      <div class="text-center text-base md:text-lg space-y-1 md:space-y-2 2xl:space-y-3 font-cormorant shadow-2xl p-4 md:p-8 2xl:p-16 rounded-2xl">
        <p><i>ABOUT</i></p>
        <p class="text-4xl md:text-5xl text-[#fdcbc7]">MEET BECCA</p>
        <p><i>le Creative behind Black Begonia Florals</i></p>
        <div class="text-left text-base md:text-lg 2xl:text-lg grid grid-flow-col grid-rows-3 md:auto-cols-[330px] gap-4 md:gap-x-10 2xl:gap-8">
          <p>Meet Becca, the lead designer & owner of Black Begonia Florals, a boutique Rhode Island wedding florist based out of Watch Hill. Serving couples throughout coastal New England, Becca primarily designs for venues located throughout Newport, Watch Hill, Bristol, Narragansett, and South Kingstown. </p>
          <p>With more than 15 years of floral industry experience, Becca brings a thoughtful and refined approach to wedding floral design. She works closely and intentionally with each couple to create romantic, garden-style and coastal wedding flowers that reflect the unique  atmosphere of their celebration.</p>
          <p class="hidden md:block">Becca’s floral journey began at just fifteen years old with a high school floral design class. What started as a simple class quickly became a lifelong passion, designing her first wedding that same year. Finding success early inspired her to pursue floral design professionally and develop her craft ever since.</p>
          <p class="hidden md:block">Over time, Becca worked in and managed several flower shops while designing weddings throughout Rhode Island and New England. Through these experiences, she built the foundation that eventually grew into Black Begonia, now a trusted name in custom wedding floral design.</p>
          <p class="hidden md:block">Today, every couple works directly with Becca from the first consultation through delivery and installation. Because each event is personally designed and managed by her, only a limited number of weddings are taken on each season to ensure every couple receives attentive service and exceptional design.</p>
          <button routerLink="/about" class="h-[45px] w-[200px] md:h-[60px] md:w-[250px] my-auto mx-auto text-base md:text-lg border border-white bg-gray-100 hover:border hover:border-gray-400 hover:bg-[#fefcfa] py-1 px-8">LEARN MORE</button>
        </div>
      </div>
      <img class="mt-3 md:mt-8 lg:mt-0 lg:max-h-[700px] 2xl:max-h-[920px] rounded-3xl shadow-2xl" src="assets/images/website/Screenshot 2026-02-25 195136.png" alt="">
    </div>
  </div>

  <!-- Portfolio / Services / Contact -->
  <div class="relative pt-20 overflow-hidden font-cormorant tracking-widest">
    <img src="assets\svgs\gray.svg" class="absolute left-1/2 top-[10px] -translate-x-[-320px] opacity-25 max-h-[320px] -rotate-[-25deg] pointer-events-none z-10" alt="">
    <img src="assets/svgs/gray.svg" alt="" class="pointer-events-none absolute left-1/2 -translate-x-[700px] top-[550px] -rotate-90 opacity-25 max-h-[500px] hidden lg:block">
    <div class="flex justify-center">
      <h2 routerLink="/portfolio" class="-translate-x-[310px] -translate-y-[-80px] transition-colors duration-500 hover:text-[#fba59f] cursor-pointer">1. PORTFOLIO</h2>
      <h2 routerLink="/services/weddings" class="-translate-y-[20px] -translate-x-[-150px] transition-colors duration-500 hover:text-[#fba59f] cursor-pointer">2. SERVICES</h2>
      <h2 routerLink="/inquiries" class="-translate-y-[-650px] -translate-x-[-420px] transition-colors duration-500 hover:text-[#fba59f] cursor-pointer">3. INQUIRIES</h2>
    </div>
    <div class="flex justify-center">
      <img 
        class="h-[380px] translate-y-[109px] z-20" 
        src="assets/images/website/472387620_1142989987399857_1332332708877575013_n (2).jpg" 
        alt=""
      >
      <img 
        class="max-h-[490px] border-[20px] border-[#f3f1ee] z-20"
        src="assets/images/website/472626300_1142470360785153_8627018691935612026_n (2).jpg" 
        alt=""
      >
      <img 
        class="h-[430px] translate-y-[150px] z-20" 
        src="assets/images/website/1000005148.jpg" 
        alt=""
      >
    </div>
    <img 
      class="h-[520px] mx-auto border-[20px] border-white z-30 relative translate-y-[-50px]" 
      src="assets/images/website/JJ-7-97.jpg" 
      alt=""
    >
  </div>

  <div class="bg-[#fefcfa] font-cormorant font-thin text-gray-600 text-base md:text-xl text-center pt-8 md:pt-10 2xl:pt-16 pb-5 md:pb-5 2xl:pb-8">
    <p>CRAFTING BESPOKE INTENTIONAL <br> DETAILS WITH FLOWERS FOR</p>
    <p class="text-3xl md:text-5xl">UNFORGETTABLE WEDDINGS</p>
    <div class="flex flex-col md:flex-row justify-evenly pt-5 px-5 xl:px-0 space-y-4 md:space-y-0">
      <img class="md:h-[280px] lg:h-[290px] xl:h-[360px] 2xl:h-[500px] 4xl:h-[500px] rounded-xl" src="assets/images/website/JJ-6-3.jpg" alt="">
      <img class="md:h-[280px] lg:h-[290px] xl:h-[360px] 2xl:h-[500px] 4xl:h-[500px] rounded-xl" src="assets/images/website/1000005147.jpg" alt="">
      <img class="md:h-[280px] lg:h-[290px] xl:h-[360px] 2xl:h-[500px] 4xl:h-[500px] rounded-xl" src="assets/images/website/E+T-829.jpg" alt="">
      <img class="md:h-[280px] lg:h-[290px] xl:h-[360px] 2xl:h-[500px] 4xl:h-[500px] rounded-xl" src="assets/images/website\1000005143.jpg" alt="">
      <img class="md:h-[280px] lg:h-[290px] xl:h-[360px] 2xl:h-[500px] 4xl:h-[500px] rounded-xl" src="assets/images/website/1000005135.jpg" alt="">
    </div>
  </div>

  <div class="bg-[#ecb5b0] py-1 md:py-3 2xl:py-4">
    <p class="text-white text-sm md:text-base 2xl:text-lg text-center font-oswald font-thin">
      N A R R A G A N S E T T&nbsp;&nbsp;&nbsp;
      B A Y&nbsp;&nbsp;&nbsp;
      A R E A&nbsp;&nbsp;&nbsp;<br class="md:hidden">
      L U X U R Y&nbsp;&nbsp;&nbsp;
      W E D D I N G&nbsp;&nbsp;&nbsp;
      F L O R I S T&nbsp;&nbsp;&nbsp;
    </p>
  </div>

  <div 
    class="min-h-[800px] bg-no-repeat bg-cover bg-center bg-blend-multiply bg-gray-200 hidden md:flex flex-col justify-center"
    style="background-image: url('assets/images/website/1000005149.jpg');"
  >
    <div class="text-center font-forum -translate-y-[20px]">
      <p class="relative text-slate-50 text-6xl -translate-y-[-12px] z-20">Ready to work together?</p>
      <div class="relative bg-slate-100/70 backdrop-blur-md w-[800px] h-[500px] p-8 mx-auto z-10"></div>
    </div>
  </div>
</section>
