<div *ngIf="!isReady" class="flex min-h-screen bg-gradient-to-b from-[#f5e6dc] to-[#d49b79]">
    <app-sidebar class="lg:w-64 bg-[#d49b79] w-12"></app-sidebar>
    <div class="h-screen flex w-full items-center justify-center bg-gradient-to-b from-[#f5e6dc] to-[#d49b79]">
        <div class="flex flex-col items-center">
            <div class="w-12 h-12 border-4 border-dashed rounded-full animate-spin border-[#d49b79]"></div>
            <p class="mt-4 text-white text-4xl font-display tracking-wide">Preparing your session...</p>
        </div>
    </div>
</div>

<div *ngIf="isReady && isAuthenticated" class="flex h-screen">
    <!-- Sidebar -->
    <app-sidebar class="lg:w-64 bg-[#d49b79] w-0"></app-sidebar>

    <!-- Main Content -->
    <main class="flex-1 overflow-y-auto">
        <router-outlet></router-outlet>
    </main>
</div>