<section class="min-h-screen bg-white">
  
  <!-- Hero Slide -->
  <div 
    class="min-h-[250px] md:min-h-[350px] 2xl:min-h-[600px] bg-no-repeat bg-cover bg-top sm:bg-[center_30%] bg-blend-multiply bg-gray-200 flex flex-col items-center font-cormorant text-white py-8"
    style="background-image: url('assets/images/473169766_1147600856938770_4419608415207451516_n.jpg');"
  >
		<div class="bg-white/80 backdrop-blur-sm p-3 sm:p-5 2xl:p-6 min-w-[350px] 2xl:min-w-[600px] text-center">
			<h1 class="text-3xl sm:text-4xl 2xl:text-5xl tracking-widest font-semibold"><span class="text-black">BLACK</span> <span class="text-[#ea938c]"> BEGONIA</span></h1>
			<h1 class="text-lg sm:text-xl 2xl:text-2xl tracking-widest text-gray-800"><i>F L O R A L &nbsp;&nbsp;&nbsp; D E S I G N S</i></h1>
		</div>
		<h2 class="text-5xl sm:text-6xl md:text-8xl 2xl:text-9xl -translate-y-[-92px] sm:-translate-y-[-62px] md:-translate-y-[-132px] 2xl:-translate-y-[-336px] text-white">WORKSHOPS</h2>
  </div>

	<div class="min-h-[300px] my-10 bg-gray-100"></div>
</section>