<section class="min-h-screen bg-white">
  
  <!-- Hero Slide -->
  <div 
    class="min-h-[600px] bg-no-repeat bg-cover bg-[center_60%] bg-blend-multiply flex flex-col items-center font-cormorant text-white py-8"
    style="background-image: url('assets/images/1000005135.jpg');"
  >
		<div class="bg-white/80 backdrop-blur-sm p-6 min-w-[600px] text-center">
			<h1 class="text-5xl tracking-widest font-semibold"><span class="text-black">BLACK</span> <span class="text-[#ea938c]"> BEGONIA</span></h1>
			<h1 class="text-2xl tracking-widest text-gray-800"><i>F L O R A L &nbsp;&nbsp;&nbsp; D E S I G N S</i></h1>
		</div>
		<h2 class="text-9xl -translate-y-[-336px] text-white">WEDDING &nbsp;SERVICES</h2>
  </div>

	<div class="min-h-[300px] my-10 bg-gray-100"></div>
</section>