<section>
  <div class="flex">
    <div class="min-h-[925px] w-1/2 bg-slate-100"></div>
    <div 
      class="min-h-[925px] w-1/2 bg-no-repeat bg-cover bg-center bg-blend-multiply text-white bg-gray-100 transition-colors duration-500 flex flex-col justify-center"
      style="background-image: url('assets/images/1000005149.jpg');"
    >
      <h1 class="bg-slate-300/50 backdrop-blur-lg p-6 text-center text-6xl font-cormorant mx-auto -translate-y-[200px] shadow-2xl">GENERAL INQUIRIES</h1>
    </div>
  </div>
</section>