<section class="min-h-screen bg-white">
  
  <!-- Hero Slide -->
  <div 
    class="min-h-[250px] md:min-h-[350px] 2xl:min-h-[600px] bg-no-repeat bg-cover bg-[center_30%] sm:bg-[center_50%] bg-blend-multiply flex flex-col items-center font-cormorant text-white py-8"
    style="background-image: url('assets/images/1000005130.jpg');"
  >
		<div class="bg-white/80 backdrop-blur-sm p-3 sm:p-5 2xl:p-6 min-w-[350px] 2xl:min-w-[600px] text-center">
			<h1 class="text-3xl sm:text-4xl 2xl:text-5xl tracking-widest font-semibold"><span class="text-black">BLACK</span> <span class="text-[#ea938c]"> BEGONIA</span></h1>
			<h1 class="text-lg sm:text-xl 2xl:text-2xl tracking-widest text-gray-800"><i>F L O R A L &nbsp;&nbsp;&nbsp; D E S I G N S</i></h1>
		</div>
		<h2 class="text-5xl sm:text-6xl md:text-8xl 2xl:text-9xl -translate-y-[-91px] sm:-translate-y-[-62px] md:-translate-y-[-132px] 2xl:-translate-y-[-336px] text-white">PORTFOLIO</h2>
  </div>

	<div class="min-h-[700px] my-10 bg-[#f3f1ee]"></div>

  <div class="text-center font-cormorant">
    <h1 class="text-7xl">Full Galleries</h1>
    <div class="max-w-screen-xl mx-auto grid grid-cols-3 auto-rows-[500px] gap-8 font-thin text-white py-8">

      <!-- Jason & Aurelia -->
      <div
        *ngFor="let gallery of galleries"
        class="bg-no-repeat bg-cover bg-center cursor-pointer group"
        [style.background-image]="'url(' + gallery.coverImage + ')'"
        [routerLink]="['/portfolio', gallery.slug]"
      >
        <div *ngIf="gallery.position == 'left'" class="w-full h-full bg-black/60 opacity-0 group-hover:opacity-100 transition-opacity duration-700">
          <div class="p-6 h-full w-full flex flex-col justify-between">
            <p class="text-center text-5xl">{{ gallery.coupleNames }}</p>
            <p class="text-xl text-right font-oswald tracking-widest">{{ gallery.venue }}</p>
          </div>
        </div>

        <div *ngIf="gallery.position == 'center'" class="w-full h-full bg-black/60 opacity-0 group-hover:opacity-100 transition-opacity duration-1000">
          <div class="p-6 h-full w-full flex flex-col justify-center text-center">
            <p class="text-6xl">Siwei & Simon</p>
            <p class="text-xl font-oswald tracking-widest">TPC STONEBRAE</p>
          </div>
        </div>

        <div *ngIf="gallery.position == 'right'" class="w-full h-full bg-black/60 opacity-0 group-hover:opacity-100 transition-opacity duration-1000">
          <div class="p-6 h-full w-full flex flex-col justify-between ">
            <p class="text-right text-xl font-oswald tracking-widest">TPC STONEBRAE</p>
            <p class="text-left text-6xl">Eric & <br> Madison</p>
          </div>
        </div>
      </div>
    </div>

    <div class="py-20 text-black bg-[#f3f1ee] text-right">
      <div class="max-w-screen-xl mx-auto flex justify-between">
        <div class="w-3/5">
          <p class="text-lg">From the first time I chatted with Becca about our wedding, I knew she understood our vision with the florals and that she was a florist I could trust with bringing this vision to life. Becca was extremely attentive and reliable – whenever I had a random, one-off question, she was there to chat. On the wedding day, Becca went above and beyond. The florals were absolutely beautiful, and my bridal bouquet was everything I wanted and more. She even popped upstairs to the bridal suite to say hello before heading out – which was so nice to finally meet the famous “Becca” in person. If you’re getting married and in need of a florist, don’t hesitate on reaching out to Becca. When you hire vendors for a wedding, you want people you can trust – and Becca is that and so much more.</p>
          <p class="font-oswald font-thin tracking-widest text-xl mt-3">- KAYLA F.</p>
        </div>
        <div class="w-2/5 flex flex-col justify-center items-center">
          <p class="text-4xl text-[#ea938c]">Ready to get started?</p>
          <p class="text-xl">We'd love to hear from you!</p>
          <button routerLink="/inquiries" class="px-5 py-2 border border-gray-500 hover:bg-[#fba59f] hover:text-white hover:border-[#fba59f] font-light tracking-widest mt-3 uppercase transition-all duration-300">INQUIRE</button>
        </div>
      </div>
    </div>

    <div class="py-20 text-black bg-[#f3f1ee] text-left">
      <div class="max-w-screen-xl mx-auto flex justify-between">
        <div class="w-2/5 flex flex-col justify-center items-center">
          <p class="text-4xl text-[#ea938c]">Ready to get started?</p>
          <p class="text-xl">We'd love to hear from you!</p>
          <button routerLink="/inquiries" class="px-5 py-2 border border-gray-500 hover:bg-[#fba59f] hover:text-white hover:border-[#fba59f] font-light tracking-widest mt-3 uppercase transition-all duration-300">INQUIRE</button>
        </div>
        <div class="w-3/5">
          <p class="text-xl">Becca was AMAZING to work with! She is so full of energy and clearly knows her stuff when it comes to different types of flowers and greenery. You can really see the vision come to life in her mind as she's talking to you about what you could do for your event. She was so great and I really enjoyed working with her! I can't thank her enough for all the work she did and how she brought the combination of her and mine's vision to life for my wedding day.</p>
          <p class="font-oswald font-thin tracking-widest text-xl mt-3">- MARIA Z.</p>
        </div>
      </div>
    </div>
  </div>
</section>