<section>
  <div class="flex flex-col md:flex-row">
    <div 
      class="min-h-[350px] md:min-h-[930px] md:w-1/2 bg-no-repeat bg-cover bg-center bg-blend-multiply text-white bg-gray-300 hover:bg-gray-100 hover:cursor-pointer transition-colors duration-500 flex flex-col justify-center"
      style="background-image: url('assets/images/weddings/Matt-Kimberly/1000005148.jpg');"
      routerLink="/inquiries/weddings"
    >
      <h1 class="bg-gray-300/50 backdrop-blur-lg p-6 text-center text-2xl sm:text-3xl lg:text-4xl xl:text-5xl 2xl:text-6xl font-cormorant mx-auto md:-translate-y-[100px] lg:-translate-y-[150px] 2xl:-translate-y-[200px] shadow-2xl">WEDDING & EVENTS <br> INQUIRIES</h1>
      <div class="md:hidden mt-3 px-3 py-1 text-sm font-cormorant bg-[#f89b95]/80 backdrop-blur-sm mx-auto">Inquiry Form</div>
    </div>
    <div 
      class="min-h-[350px] md:min-h-[930px] md:w-1/2 bg-no-repeat bg-cover bg-center bg-blend-multiply text-white bg-gray-300 hover:bg-gray-100 hover:cursor-pointer transition-colors duration-500 flex flex-col justify-center"
      style="background-image: url('assets/images/488050677_1194784779317590_2177564798136104159_n.jpg');"
      routerLink="/inquiries/general"
    >
      <h1 class="bg-gray-300/50 backdrop-blur-lg p-6 text-center text-2xl sm:text-3xl lg:text-4xl xl:text-5xl 2xl:text-6xl font-cormorant mx-auto md:-translate-y-[100px] lg:-translate-y-[150px] 2xl:-translate-y-[200px] shadow-2xl">GENERAL INQUIRIES</h1>
      <div class="md:hidden mt-3 px-3 py-1 text-sm font-cormorant bg-[#f89b95]/80 backdrop-blur-sm mx-auto">Inquiry Form</div>
    </div>
  </div>
</section>
