<section>
  <div class="flex min-h-[930px] ">
    <div 
      class="w-1/2 bg-no-repeat bg-cover bg-center bg-blend-multiply text-white bg-gray-300 hover:bg-gray-100 hover:cursor-pointer transition-colors duration-500 flex flex-col justify-center"
      style="background-image: url('assets/images/1000005148.jpg');"
      routerLink="/inquiries/weddings"
    >
      <h1 class="bg-gray-300/50 backdrop-blur-lg p-6 text-center text-6xl font-cormorant mx-auto -translate-y-[200px] shadow-2xl">WEDDING & EVENTS <br> INQUIRIES</h1>
    </div>
    <div 
      class="w-1/2 bg-no-repeat bg-cover bg-center bg-blend-multiply text-white bg-gray-300 hover:bg-gray-100 hover:cursor-pointer transition-colors duration-500 flex flex-col justify-center"
      style="background-image: url('assets/images/1000005149.jpg');"
      routerLink="/inquiries/general"
    >
      <h1 class="bg-gray-300/50 backdrop-blur-lg p-6 text-center text-6xl font-cormorant mx-auto -translate-y-[200px] shadow-2xl">GENERAL INQUIRIES</h1>
    </div>
  </div>
</section>
